<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Bootstrap")
    @Styles.Render("~/Content/Components/metisMenu")
    @Styles.Render("~/Content/Timeline")
    @Styles.Render("~/Content/sb-admin-2")
    @Styles.Render("~/Content/Font")
    @Styles.Render("~/Content/morris")
    @Styles.Render("~/Content/magicbird")
    @Scripts.Render("~/Script/Jquery")
    @Scripts.Render("~/Script/bootstrap")
    @Scripts.Render("~/Script/metisMenu")
    @Scripts.Render("~/Script/raphael")
    @Scripts.Render("~/Script/morris")
    @Scripts.Render("~/Script/sb-admin-2")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
